<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/font-awesome-4.5.0/css/font-awesome.min.css" rel ="stylesheet">
<link href="/modules/adminPage/views/style.css" rel ="stylesheet">
<div class="container" ng-hide="loginSuccess">
    <div class="row">
        <h1>AdminPage</h1>
    </div>
    <div class="row" align="center">
        <form id="adminLoginForm" name="adminLoginForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label">Login with admin's account</label>
                <input required name="AdminAcc" ng-model="AdminAcc" type="text" class="form-control" id="Admin-Acc" placeholder="Admin">
                <span ng-show="adminLoginForm.AdminAcc.$dirty && adminLoginForm.AdminAcc.$error.required">This field is required.</span>
            </div>
            <div class="form-group">
                <input required name="AdminPass" ng-model="AdminPass" type="password" class="form-control" id="Admin-Pass" placeholder="Password">
                <span ng-show="adminLoginForm.AdminPass.$dirty && adminLoginForm.AdminPass.$error.required">This field is required.</span></br>
                <span ng-show="checkAdmin">Wrong account.</span>
            </div>
            <div class="form-group">
                <button ng-disabled="adminLoginForm.$invalid" type="button" ng-click="adminLogin(AdminAcc,AdminPass)" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>
<div class="container" ng-show="loginSuccess">
    <div class="row">
        <h1>AdminPage</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button style="padding : 10px; width : 100%" ng-click="addNewExercise()" type="button" class="btn btn-primary">Add new exercise</button>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="exercise in lstExercises">
                    <div class="input-group">
                    	<span style="font-size : 20px; padding-right : 2px;" ng-click="deleteExercise(exercise.idExercise)" class="input-group-btn glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <button ng-click="exerciseDetails(exercise.idExercise,exercise.exerciseName,exercise.exerciseContent,exercise.exerciseAnswer,exercise.exerciseContent)"
                            type="button" class="list-group-item">
                            {{exercise.exerciseName}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- <button ng-click="addNewExercise()" type="button" class="list-group-item">+</button> -->
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <form id="exerciseForm" name="exerciseForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label">Exercise's name:</label>
                    <input required name="exerciseName" ng-model="exerciseName" type="text" class="form-control" id="Exercise-name" placeholder="Exercise-name">
                    <span class="messageRequiredForm" ng-show="exerciseForm.exerciseName.$dirty && exerciseForm.exerciseName.$error.required">This field is required.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Exercise's content:</label>
                    <textarea required name="exerciseContent" ng-model="exerciseContent" class="form-control" rows="5" id="Exercise-content"
                        placeholder="Exercise-content"></textarea>
                    <span class="messageRequiredForm" ng-show="exerciseForm.exerciseContent.$dirty && exerciseForm.exerciseContent.$error.required">This field is required.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Exercise's code:</label>
                    <textarea required name="exerciseAnswer" ng-model="exerciseAnswer" class="form-control" rows="5" id="Exercise-answer" placeholder="Exercise-answer"></textarea>
                    <span class="messageRequiredForm" ng-show="exerciseForm.exerciseAnswer.$dirty && exerciseForm.exerciseAnswer.$error.required">This field is required.</span>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="control-label">Exercise's pseducode:</label>
                    <input required name="exercisePseducode" ng-model="exercisePseducode" type="text" class="form-control" id="Exercise-pseducode"
                        placeholder="Exercise-pseducode"></input>
                    <span class="messageRequiredForm" ng-show="exerciseForm.exercisePseducode.$dirty && exerciseForm.exercisePseducode.$error.required">This field is required.</span>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="control-label">Exercise's Test cases:</label>
                    <table>
                        <tr>
                            <td>
                                <h2>Input</h2>
                            </td>
                            <td>
                                <h2>Output</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp1">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out1">
                            </td>
                        </tr>
                        <tr>
                           	<td>
                                <input type="text" required ng-model = "inp2">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp3">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out3">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp4">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out4">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp5">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out5">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp6">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp7">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out7">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp8">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out8">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp9">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out9">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" required ng-model = "inp10">
                            </td>
                            <td>
                                <input type="text" required ng-model = "out10">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group" style="float: right;">
                    <button ng-click="createOrUpdateExercise()" ng-disabled="exerciseForm.$invalid" ng-hide="idExercise" type="button"  class="btn btn-danger">Create</button>
                    <button ng-click="createOrUpdateExercise()" ng-disabled	="!exerciseForm.$dirty || exerciseForm.$invalid" ng-show="idExercise" type="button" class="btn btn-danger">Update</button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <div class="alert alert-success" role="alert">...</div>
        <div class="alert alert-danger" role="alert">...</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>-->