<title>CraneCoding</title>
<link href="css/font-awesome-4.5.0/css/font-awesome.min.css" rel ="stylesheet">
<link href="css/styles.min.css" rel="stylesheet" media="screen">
<link href="modules/homePage/views/style.css" rel="stylesheet">
<script src="JS/vendor/jquery-2.1.4.min.js"></script>
<script src="JS/vendor/bootstrap.min.js"></script>
<script src="JS/vendor/smoothscroll.js"></script>
<script src="JS/vendor/jquery.stellar.min.js"></script>
<script src="JS/vendor/velocity.min.js"></script>
<script src="JS/vendor/jquery.parallax.min.js"></script>
<script src="JS/vendor/magnific-popup.min.js"></script>
<script src="JS/vendor/owl.carousel.min.js"></script>
<script src="JS/scripts.js"></script>
<script src="modules/homePage/load.js"></script>
<div id="loginForm" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href class="close" style="color:#202e51">&times;</a>
            <h2 class="modal-title" ng-show="showForm">Register form</h2>
            <h2 class="modal-title" ng-show="!showForm">Login form</h2>
        </div>
        <div class="modal-body">
                
            <form name="form" role="form" ng-show="!showForm">
                <div class="form-group">
                    <label for="username">User name</label>
                    <input id="input-form" type="text" name="username" id="username" class="form-control" ng-model="username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">User name is required</span>
                </div>
                <div class="form-group">
                    <label for="password">User password</label>
                    <input id="input-form" type="password" name="password" ng-minlength="8" id=" password" class="form-control" ng-model="password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    <span ng-show="form.password.$error.minlength" class="help-block">Password is more than 8.</span>
                </div>
                <div ng-show="error" class="alert-danger">{{error}}</div>
                <div class="form-group" style="float:right;">
                    <a href type="button" ng-click="showForm = !showForm">Register</a>
                    <button id="btnLogin" type="submit" ng-click="login()" data-dismiss="modal" ng-disabled="form.$invalid || dataLoading" class="btn btn-sm btn-primary btn-icon-left">
                    	Login
                    </button>
                    
                </div>
                
            </form>

            <form name="formRegist" ng-show="showForm" id="registedForm" role="form">
                <div class="form-group">
                    <label for="username">User name</label>
                    <input id="input-form" type="text" name="username" ng-minlength="8" id="username" class="form-control" ng-model="username" required />
                    <span ng-show="formRegist.username.$error.minlength" class="help-block">User name is more than 8.</span>
                    <span ng-show="(formRegist.username.$dirty && formRegist.username.$error.required )" class="help-block">User name is required</span>
                </div>

                <div class="form-group">
                    <label for="username">First name</label>
                    <input id="input-form" type="text" name="firstname" id="fisrtname" class="form-control" ng-model="firstname" required />
                    <span ng-show="(formRegist.firstname.$dirty && formRegist.firstname.$error.required )" class="help-block">First name is required</span>
                </div>

                <div class="form-group">
                    <label for="username">Last name</label>
                    <input id="input-form" type="text" name="lastname" id="lastname" class="form-control" ng-model="lastname" required />
                    <span ng-show="(formRegist.lastname.$dirty && formRegist.lastname.$error.required )" class="help-block">Last name is required</span>
                </div>

                <div class="form-group">
                    <label for="usermail">User email</label>
                    <input id="input-form" type="email" name="usermail" id="usermail" class="form-control" ng-model="usermail" required />
                    <span ng-show="(formRegist.usermail.$dirty && formRegist.usermail.$error.required )" class="help-block">User email is required</span>
                    <span ng-show="formRegist.usermail.$error.email" class="help-block">Required email!</span>
                </div>

                <div class="form-group">
                    <label for="username">Password
                        <i ng-show="rePassword == password && password !=null" class="fa fa-check" aria-hidden="true"></i>
                    </label>
                    <input id="input-form" ng-minlength="8" type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    <span ng-show="formRegist.password.$error.minlength" class="help-block">Password is more than 8.</span>
                    <span ng-show="formRegist.password.$dirty && formRegist.password.$error.required" class="help-block">Password is required</span>
                </div>

                <div class="form-group">
                    <label for="password">Enter password again
                        <i ng-show="rePassword == password && rePassword!=null" class="fa fa-check" aria-hidden="true"></i>
                    </label>
                    <input id="input-form" type="password" ng-minlength="8" name="rePassword" id="rePassword" class="form-control" ng-model="rePassword" required />
                    <span ng-show="formRegist.rePassword.$error.minlength" class="help-block">Password is more than 8.</span>
                    </br>
                    <span ng-show="rePassword != password" class="help-block">Password is not match!</span>
                    <span ng-show="formRegist.rePassword.$dirty && formRegist.rePassword.$error.required" class="help-block">Password is required</span>
                </div>
                
                <div ng-show="registerSuccess" class="alert-success">{{registerSuccess}}</div>
                <div ng-show="registerFalse" class="alert-danger">{{registerFalse}}</div>
                <div class="form-group" style="float:right;">
                    <a href="" ng-click="showForm = !showForm">Already have account!</a>
                    <button type="submit" ng-click="register()" data-dismiss="modal" ng-disabled="formRegist.$invalid || dataLoading || rePassword != password " class="btn btn-sm btn-primary btn-icon-left">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="commandBlockModal" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color:#202e51">&times;</button>
    </div>
    <div class="modal-body">
        <img class="img_homepage" ng-src="{{commandSrc}}">
    </div>
</div>
<div class="modal fade" id="videoTutorialModal" role="dialog" style="display:block; padding-right:0px;">
    <div class="modal-header">
        <button type="button" onclick="stopTutorialVideo()" class="close" data-dismiss="modal" style="color:#202e51">&times;</button>
    </div>
    <div class="modal-body" style="height:100%;">
        <iframe id="videoTutorial" src="https://www.youtube.com/embed/Pmv8aQKO6k0?autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="modal fade" id="logoutModal" role="dialog">
    <div class="modal-content">
    	<div class="modal-header">
        	
    		<h2>Log out?</h2>
    	</div>
    	<div class="modal-body" style="height:100%;" align="center">
        	<button data-dismiss="modal" id = "closeModal" class="btn btn-sm btn-primary btn-icon-left" style="float : right" >Cancel</button>
        	<button data-dismiss="modal" id = "closeModal" ng-click="logoutAct()" class="btn btn-sm btn-primary btn-icon-left" style="float : right">Yes!</button>
    	</div>
    </div>
</div>
<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Navbar -->
    <!-- Remove ".navbar-fixed" class to make navigation bar scrollable with the page. Another modifier calss is ".submenu-dark" to alter submenu appearance. -->
    <header class="navbar navbar-fixed">
      <div class="container">
        <div class="inner">

          <!-- Site Logo -->
          <a href="index-2.html" class="site-logo">
            <img src="img/logo.png" alt="Metheor">
          </a><!-- .site-logo -->
          
          <!-- Mobile Dropdown -->
          <div class="mobile-dropdown">

            <!-- Mobile Tools -->
            <div class="mobile-tools">
              <form method="post" class="search-box">
                <input type="text" placeholder="Enter your search query">
                <button type="submit"><i class="pe-7s-search"></i></button>
              </form><!-- .search-box -->
              <div class="social-bar text-center">
                <a href="#" class="sb-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="sb-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="sb-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="sb-instagram"><i class="fa fa-instagram"></i></a>
              </div><!-- .social-bar -->
            </div><!-- .mobile-tools -->
            
            <!-- Main Navigation -->
            <nav class="main-navigation">
              <ul class="menu">
                <li> <a href="#"><strong>Home</strong></a> </li>
                <li> <a href="#"><strong>Lesson</strong></a> </li>
                <li> <a href="#"><strong>Tutorial</strong></a> <li>
                <li> <a href="#"><strong>Our Team</strong></a> </li>
                <li> <a href="#"><strong>Contact</strong></a> </li>
              </ul><!-- .menu -->
            </nav><!-- .main-navigation -->
          </div><!-- .mobile-dropdown -->

          <!-- Toolbar -->
          <div class="toolbar">   
            <a ng-show="!logout" class="btn btn-sm btn-primary btn-icon-left" id="btn-sign-in">
              <strong>Sign in</strong>
            </a>
            <a ng-show="logout" class="btn btn-sm btn-primary btn-icon-left" id="btn-sign-out">
              <strong>Sign out</strong>
            </a>
            <a ng-show="logout" class="btn btn-sm btn-primary btn-icon-left" ng-click="goToMainPage()" id="btn-sign-in">
              <strong>Play now!</strong>
            </a>
            <!-- Mobile Menu Toggle -->
            <div class="nav-toggle"><span></span></div>
          </div><!-- .toolbar -->
        </div><!-- .inner -->
      </div><!-- .container -->
    </header><!-- .navbar.navbar-fixed -->

    <!-- Intro Section -->
    <section class="intro-section" style="background-image: url(img/home/intro/intro-bg01.jpg);" data-stellar-background-ratio="0.65">
      <span class="overlay" style="opacity: .85;"></span>
      <div class="container text-center">
        <div class="intro-logo space-bottom">
          <img src="img/home/intro/logo.png" alt="Metheor">
        </div><!-- .intro-logo -->
        <p class="text-light opacity-50">Prepare your self and become a master of Crane Coding</p>
        <ul class="sharing-links light-skin space-bottom">
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i>6 358</a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i>8 242</a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i>5 176</a></li>
        </ul><!-- .sharing-links -->
      </div><!-- .container -->
      
      <!-- Remove class ".layer-parallax" to disable mouse parallax effect on screens. -->
      <div class="intro-phone-wrap layer-parallax">
        <div class="phone layer" data-depth="0.25">
          <img src="img/home/intro/macbook.png" alt="Phone">
        </div><!-- .phone --> 
      </div><!-- .intro-phone-wrap -->
      <span class="inner-shadow"></span>
    </section><!-- .intro-section -->

    <!-- Market Buttons -->
    <section class="fw-section bg-white padding-top-3x padding-bottom-3x" id="markets">
      <div class="container text-center">
        <h6 class="text-thin">Application available on:</h6>
        <a href="#" class="app-store-btn"></a>
        <a href="#" class="google-play-btn"></a>
        <a href="#" class="windows-btn"></a>
        <div class="market-counter">
          <span>133K</span>
          downloads
        </div><!-- .market-counter -->
      </div><!-- .container -->
    </section><!-- .fw-section.bg-white -->

    <!-- Features -->
    <section class="fw-section bg-white border-top padding-top-3x padding-bottom-3x">
      <div class="container">
        <h2 class="block-title text-center">Lesson
          <small>This is all the basic code statement. Learn it and you will pass all the test.</small>
        </h2>
        <div class="row">
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
               <img src="/img/home/intro/lesson1.png"/>
              </div>
              <h3 class="box-with-icon-title">Data Type</h3>
              <p>This lesson will teach you about the basic data type that will be presented is Crane Coding.</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
                 <img src="/img/home/intro/lesson2.png"/>
              </div>
              <h3 class="box-with-icon-title">If - Else</h3>
              <p>What is If - Else statement? Let find out with us!</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
                 <img src="/img/home/intro/lesson3.png"/>
              </div>
              <h3 class="box-with-icon-title">Looping</h3>
              <p>While? Do - while? For? Sound interesting huh? Join and see how many looping style in Crane Coding!</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
                 <img src="/img/home/intro/lesson4.png"/>
              </div>
              <h3 class="box-with-icon-title">Switch - case</h3>
              <p>A friend of if - else or what? Do you want to know about this friend?</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
                 <img src="/img/home/intro/lesson5.png"/>
              </div>
              <h3 class="box-with-icon-title">Return</h3>
              <p>Return is an important statement in Crane Coding. You want to know why? Click on it!</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-icon text-center">
              <div class="box-with-icon-icon">
                 <img src="/img/home/intro/lesson6.png"/>
              </div>
              <h3 class="box-with-icon-title">Assign</h3>
              <p>Assign is also a cool statement. Click and you will know about it!</p>
            </div><!-- .box-with-icon -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section>

    <!-- Video Popup -->
    <section class="fw-section parallax text-center padding-top-3x padding-bottom-3x" style="background-image: url(img/home/video-bg.jpg);" data-stellar-background-ratio="0.65">
      <span class="overlay" style="opacity: .78;"></span>
      <div class="container padding-top-3x padding-bottom-3x">
        <!-- Remove ".light-skin" class to alter appearance. -->
        <a href="https://vimeo.com/33984473" class="video-popup-btn light-skin space-top-3x space-bottom" style="text-align: -webkit-center;vertical-align: middle;">
          <img style="padding: 23px;" src="img/home/intro/ic_video.png"/>
        </a>
        <p class="text-lg text-light space-bottom-2x">Watch tutorial to have a quick overview about the app</p>
      </div><!-- .container -->
    </section><!-- .fw-section -->

   <section class="fw-section bg-white padding-top-3x padding-bottom-3x">
      <div class="container">
        <h2 class="block-title text-center">
          Our brilliant team
          <small>Smart people. Genius ideas. Prominent result.</small>
        </h2>
        <div class="row">
          <div class="col-sm-3">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-image text-center">
              <div class="box-with-image-image">
                <img src="img/team/01.jpg" alt="Dat Le">
              </div>
              <h3 class="box-with-image-title">Dat Le
                <small>Team Lead</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <div class="social-bar text-center">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div><!-- .box-with-image -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-3">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-image text-center">
              <div class="box-with-image-image">
                <img src="img/team/04.jpg" alt="Thoan Dinh">
              </div>
              <h3 class="box-with-image-title">Thoan Dinh
                <small>Java Developer</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <div class="social-bar text-center">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div><!-- .box-with-image -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-3">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-image text-center">
              <div class="box-with-image-image">
                <img src="img/team/02.jpg" alt="Phat Truong">
              </div>
              <h3 class="box-with-image-title">Phat Truong
                <small>Front-end Developer</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <div class="social-bar text-center">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div><!-- .box-with-image -->
          </div><!-- .col-sm-4 -->
             <div class="col-sm-3">
            <!-- Use ".light-skin" class to alter appearance. -->
            <div class="box-with-image text-center">
              <div class="box-with-image-image">
                <img src="img/team/03.jpg" alt="Duong Dinh">
              </div>
              <h3 class="box-with-image-title">Duong Dinh
                <small>Java Developer</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <div class="social-bar text-center">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div><!-- .box-with-image -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section>
   
   
    <!-- Contacts -->
    <section class="container">
      <h2 class="text-center space-bottom-2x">Contact us for more details</h2>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-sm-4">
              <div class="tile tile-with-icon">
                <div class="tile-body">
                  <img src="img/home/intro/ic_address.png"/>
                  <h4>Address</h4>
                  <p>45 Park Avenue, Apt. 303 New York, NY 10016, USA</p>
                </div>
              </div><!-- .tile.tile-with-icon -->
            </div><!-- .col-sm-4 -->
            <div class="col-sm-4">
              <div class="tile tile-with-icon">
                <div class="tile-body">
                   <img src="img/home/intro/ic_phone.png"/>
                  <h4>Phone</h4>
                  <p>001 (917) 555-4836</p>
                  <br>
                </div>
              </div><!-- .tile.tile-with-icon -->
            </div><!-- .col-sm-4 -->
            <div class="col-sm-4">
              <div class="tile tile-with-icon">
                <div class="tile-body">
                   <img src="img/home/intro/ic_email.png"/>
                  <h4>Email</h4>
                  <p><a href="mailto:new_york@mail">new_york@mail.com</a><br><br></p>
                </div>
              </div><!-- .tile.tile-with-icon -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->  
        </div><!-- .col-lg-10.col-lg-offset-1 -->
      </div><!-- .row -->
    </section><!-- .container -->

    <!-- Scroll To Top Button -->
    <a href="#" class="scroll-to-top-btn">
      <i class="icon-arrow-up"></i> 
    </a><!-- .scroll-to-top-btn -->

    <!-- Footer -->
    <!-- Use modifier class ".footer-dark" to switch to dark skin. -->
    <footer class="footer space-top-3x">
      <div class="container">
        <!-- Copyright -->
        <div class="copyright">
          <div class="inner">
            <div class="column">
              <a href="index-2.html" class="site-logo">
                <img src="img/footer-logo-def.svg" alt="Metheor">
              </a>
              <span class="copy-text">&copy; 2015. All rights reserved</span>
            </div><!-- .column -->
            <div class="column">
              <nav class="footer-nav">
                <ul>
                  <li><a href="#">Terms of service</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </nav><!-- .footer-nav -->
            </div><!-- .column -->
            <div class="column">
              <div class="social-bar">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="sb-instagram"><i class="fa fa-instagram"></i></a>
              </div><!-- .social-bar -->
            </div><!-- .column -->
          </div><!-- .inner -->
        </div><!-- .copyright -->
      </div><!-- .container -->
    </footer><!-- .footer -->
  </div><!-- .page-wrapper -->

