.vertical {
    background-color: #354551;
}

#dropArea {
    margin-bottom: 5px;
    overflow: auto;
    cursor: all-scroll;
    /* background-color: #171616;
    background: url("src/img/js_32.png") no-repeat fixed center;
    border: 5px solid #354551; */
}

#dragArea {
    cursor: all-scroll;
}

.CodeMirror.cm-s-default {
    display: none;
}

#result {
    /*display: none;*/
}

input.validate.error {
    border: 1px solid red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FB8181;
}

.switchcase {
    margin: 5px;
    padding: 8px 35px 8px 14px;
}

.switchcase button.close {
    top: 8px;
    left: -10px;
}

#dropArea li.forClass {
    margin: 5px;
    padding: 8px 35px 8px 14px;
}

#getFrame {
    display: none;
}

.modal-dialog {
    margin: 0px;
}

/*testModal*/

div#testModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 25%;
    top: 10%;
    margin: 0px;
    position: absolute;
    max-width:20vw;
}

div#testModal .modal-body {
    height: 10vw;
    width: 50vw;
    overflow: hidden;
}

div#testModal h2 {
    padding: 0px;
}

/*submitModal*/

div#submitModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 25%;
    top: 10%;
    margin: 0px;
    position: absolute;
    max-width:20vw;
}

div#submitModal .modal-body {
    height: 25vw;
    width: 50vw;
}

div#submitModal h2 {
    padding: 0px;
}

/*startModal*/

div#startModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#startModal .modal-body {
    height: 8vw;
}

div#startModal h2 {
    padding: 0px;
}

/*validateChangeExerciseModel*/

div#validateChangeExerciseModel {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#validateChangeExerciseModel .modal-body {
    height: 8vw;
}

div#validateChangeExerciseModel h2 {
    padding: 0px;
}

/*validateGoToHomePageModal*/

div#validateGoToHomePageModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#validateGoToHomePageModal .modal-body {
    height: 8vw;
}

div#validateGoToHomePageModal h2 {
    padding: 0px;
}
/*validateGoBack*/
div#validateGoBack {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#validateGoBack .modal-body {
    height: 8vw;
}

div#validateGoBack h2 {
    padding: 0px;
}
/*validateSubmitModal*/
div#validateSubmitModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#validateSubmitModal .modal-body {
    height: 8vw;
}

div#validateSubmitModal h2 {
    padding: 0px;
}
/*showCodeModal*/
div#showCodeModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 20%;
    top: 10%;
    margin: 0px;
    max-width: 10vw;
    position: fixed;
}

div#showCodeModal .modal-body {
    height: 25vw;
    width: 50vw;
}

div#showCodeModal h2 {
    padding: 0px;
}

/* #showHintModal */
div#showHintModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 25%;
    top: 10%;
    margin: 0px;
    max-width: 10vw;
    position: fixed;
}

div#showHintModal .modal-body {
    /*height: auto;*/
    width: 50vw;
    /*max-height: none;*/
}

div#showHintModal h2 {
    padding: 0px;
}




/*rulesModal*/
div#rulesModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 15%;
    top: 10%;
    margin: 0px;
    max-width: 15vw;
    position: fixed;
}

div#rulesModal .modal-body {
    height: 25vw;
    width: 70vw;
}

div#rulesModal h2 {
    padding: 0px;
}


/*userHistoryModal*/
div#userHistoryModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    left: 35%;
    top: 10%;
    margin: 0px;
    max-width: 15vw;
    position: fixed;
}

div#userHistoryModal .modal-body {
    height: 40vw;
    width: 30vw;
}

div#userHistoryModal h2 {
    padding: 0px;
}

/*loginForm*/
div#loginForm {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 10%;
    left: 35%;
    max-width: 30vw;
}

div#loginForm .modal-body {
    height: auto;
    max-height:none;    
}

div#loginForm h2 {
    padding: 0px;
}
/*logoutModal*/
div#logoutModal {
    padding-right: 0px;
    padding: 0px !important;
    border: 0px !important;
    display: table;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 30vw;
}

div#logoutModal .modal-body {
    height: 8vw;
}

div#logoutModal h2 {
    padding: 0px;
}

/**/
.close:hover {
    color: #354551;
    text-decoration: none;
    text-shadow: 0 0px 0 #354551;
    padding-right: 10px;
}

button.close {
    padding: 0;
    padding-right: 10px !important;
    cursor: pointer;
    /* background-color: #152B39; */
    border: 0;
    -webkit-appearance: none;
    opacity: 1;
    color: white;
}

#inputParameter {
    height: 28px;
    padding-top: 5px;
}

.popupResults {
    text-align: center;
    overflow: auto;
    overflow-y: hidden;
}

button.btn.btn-secondary {
    color: black;
}

div#lstmathexercise {
    padding: 0px;
}

.col-md-8.col-sm-8.col-xs-8 {
    padding-left: 2px;
    /*display: table-cell;*/
}
/*.col-md-1 .col-sm-1 .col-xs-1{
    display: table-cell;
}
.col-md-3 .col-sm-3 .col-xs-3{
    display: table-cell;
}*/
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #152B39;
    padding-right : 0px;
}

.side-nav {
    top: 0px;
    left: 0px;
}

#page-wrapper {
    padding: 0px;
}

div#lstCommandBlock, .col-md-12.col-sm-12.col-xs-12 {
    padding-right: 0px;
    top: 0px;
    padding-left: 0px;
}

#dragArea {
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 4px;
}

.row {
    margin: 0px;
    background-color: #fff;
    padding-left: 10px;
    background-color: #152B39;
}

li.alert.topdown.switchcase {
    margin: 0px;
    margin-bottom: 5px;
    color:#fff;
}

div.lstExercise {
    margin: 0px;
    padding-bottom: 10px;
    background-color: #0B161D;
    border-radius: 4px;
    top: 48px;
    cursor:pointer;
    border-top: 1px solid #0B161D;
}

.col-md-9.col-sm-9.col-xs-9 {
    padding-right: 10px;
    padding-left: 0px;
}

/*.alert-info {
    max-height: 7vw;
    min-height: 7vw;
    overflow: auto;
    overflow-x: hidden;
    background-color: #354551;
    color: #AFCCDE;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 14px;
}*/

.alert-info {
    max-height: 7vw;
    min-height: 7vw;
    background-color: #354551;
    color: #AFCCDE;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 14px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
p.ng-binding {
    overflow-wrap: break-word;
}

.page-header {
    padding-bottom: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
}

.navbar-header h1 {
    padding-top: 6px;
    font-weight: normal;
    color: #AFCCDE;
    font-size: 20px;
}

nav.navbar {
    border-radius: 0px;
    margin: 0px;
    color: black;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    /*margin: 15px 0px 0px 0;*/
    /*margin: 30px -16px 0px 0;*/
    margin: 32px -16px 0px 0;
}

span.dropdown {
    padding-left: 20px;
}

span.dropdown a {
    color: #fff;
    border-color:transparent;
    
}
span.dropdown a:focus {
    color: #fff;
    border-color:transparent;
    
}


div#link_craneCodingHomepage {
    top: 6px;
    left: 15px;
    position: fixed;
}

a.list-group-item {
    background-color: #0B161D;
    border: 0px;
    color: #AFCCDE; /*#AFCCDE*/ /*#67C4FF*/
}
    /*a.list-group-item:hover {
    background-color: #152B39;
}*/

     
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #BEDCEF;
    text-decoration: none;
    background-color: #152B39;
    border-left: 3px solid #AFCCDE;
    border-radius: 0px;
}


.navbar-brand {
    padding: 0px;
    color: #fff;
    outline-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}
.navbar-brand:hover{
    color: #AFCCDE;
    outline-color: rgba(255, 255, 255, 0);
}
.navbar-brand:focus {
    color: #AFCCDE;
    outline-color: rgba(255, 255, 255, 0);
}
.font-home-exercise {
    color: #fff;
}
span.thumb-sm.avatar.pull-left {
    padding-top: 10px;
    /* margin: 0px; */
    background-color: #152B39;
    width: 100%;
    vertical-align: middle;
}
img {
    max-width: 30px;
    vertical-align: middle;
    border-radius: 100%;
}






.font-home-exercise:hover {
    color: #fff;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 5px;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
    background-color: rgba(254, 254, 254, 0.29);
    /* border: 1px solid #fbeed5; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    border: 0px;
}
/*scroll style*/


div.lstExercise::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(21, 43, 57, 0);
    border-radius: 4px;
}

div.lstExercise::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #354551;
    border-radius: 4px;
}

div.lstExercise::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #707B84;
    border-radius: 4px;
}

div.lstExercise::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #707B84;
    border-radius: 4px;
}

/**/
#dragArea::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(21, 43, 57, 0);
    border-radius: 4px;
}

#dragArea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff; /*#354551*/;
    border-radius: 4px;
}

#dragArea::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius: 4px;
}

#dragArea::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius: 4px;
}
/**/

.alert-info::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(21, 43, 57, 0);
    border-radius: 4px;
}

.alert-info::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #354551;
    border-radius: 4px;
}

.alert-info::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #707B84;
    border-radius: 4px;
}

.alert-info::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #707B84;
    border-radius: 4px;
}

#dropArea {
    border-radius: 4px;
}
    /**/

#dropArea::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(21, 43, 57, 0);
    border-radius: 4px;
}

#dropArea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius: 4px;
}

#dropArea::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius: 4px;
}

#dropArea::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius: 4px;
}

.panel-body {
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    /* padding: 15px; */
}

.panel {
    margin-bottom: 20px;
    background-color: #152B39;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    position: inherit;
    bottom: -20px;
}

form {
    margin: 0px;
}

.modal-body .row {
    max-height: 10vw;
    overflow: hidden;
    background-color: #fff;
}

button.close {
    padding: 0;
    cursor: pointer;
    /* background-color: #152B39; */
    border: 0;
    -webkit-appearance: none;
    opacity: 1;
    color: white;
}

span#time {
    color: white;
    padding: 30px;
    padding-top: 2px;
    padding-bottom: 0px;
    border-top-left-radius: 8px;
    margin-right: 0px;
    background-color: #354551;
    border-top-right-radius: 8px;
    margin-top: 28px;
}
pre#result {
    border: 0px;
    background-color: #FFF;
    font-size: 16px;
}
ol.vertical li {
    color: #fff;
}





/* main page */




    .btn {
        background-color: #226968;
        color: white;
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        text-align: center;
        min-width: 7vw;
        box-shadow: none;
        border: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }

        .btn:hover {
            background-color: #31908f;
            color: white;
            border: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
            border-radius: 0px;
        }

        .btn:focus {
            background-color: #226968;
            color: white;
            border: 0px;
            border-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
            border-radius: 0px;
        }

    .btn-outline:hover {
        border-bottom: 2px solid #fff;
    }

    .btn:hover {
        background-color: #31908f;
        color: white;
    }

    .beginExeciseBtn {
        background-color: #d05e5e;
        min-width: 9vw;
        min-height: 3vw;
    }

        .beginExeciseBtn:hover {
            background-color: #e46262;
            min-width: 9vw;
            min-height: 3vw;
        }

    #btnSubmit {
        background-color: #D05E5E;
    }

        #btnSubmit:hover {
            background-color: #e46262;
        }

    a.list-group-item.ng-binding.chosenExercise {
        border-left: 3px solid #AFCCDE;
        border-radius: 0px;
    }

    .popover {
        max-width: 160px;
    }

    .classAddCaseInSwitchCommand {
        color: #fff;
    }

        .classAddCaseInSwitchCommand:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
        }

    .modal-content {
        border: 0px;
    }

    .nav > li > a:hover {
        border-right: 1px solid #226968;
    }

    .active {
        border-right: 3px solid #226968;
    }

    .tab-pane {
        border: 0px;
    }

    #home.active {
        border: 0px;
    }

    #userRecord {
        float: left;
    }

    #btnTest {
        height: 30px;
        border: 0px;
        color: white;
        background-color: #D05E5E;
    }
    #btnTest[disabled] {
    	background-color: #D1D4D4;
	}

    .modal-backdrop, .modal-backdrop.fade.in {
        background: url('src/img/urlBackground.png') no-repeat 0 0 scroll;
        background-size: cover;
    }
    #lstCommandBlock input{
    	display : none;
    }
    #dropArea input{
    	min-height: 30px;
    	min-width: 10vw;
    
    }


